@font-face {
  font-family: 'Neutraface2Text-Book';
  src: url('../fonts/Neutraface2Text-Book/Neutraface2Text-Book.eot?#iefix') format('embedded-opentype'),  url('../fonts/Neutraface2Text-Book/Neutraface2Text-Book.otf')  format('opentype'),
	     url('../fonts/Neutraface2Text-Book/Neutraface2Text-Book.woff') format('woff'), url('../fonts/Neutraface2Text-Book/Neutraface2Text-Book.ttf')  format('truetype'), url('../fonts/Neutraface2Text-Book/Neutraface2Text-Book.svg#Neutraface2Text-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Neutraface2Text-Demi';
  src: url('../fonts/Neutraface2Text-Demi/Neutraface2Text-Demi.eot?#iefix') format('embedded-opentype'),  url('../fonts/Neutraface2Text-Demi/Neutraface2Text-Demi.otf')  format('opentype'),
	     url('../fonts/Neutraface2Text-Demi/Neutraface2Text-Demi.woff') format('woff'), url('../fonts/Neutraface2Text-Demi/Neutraface2Text-Demi.ttf')  format('truetype'), url('../fonts/Neutraface2Text-Demi/Neutraface2Text-Demi.svg#Neutraface2Text-Demi') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Neutraface2Text-Bold';
  src: url('../fonts/Neutraface2Text-Bold/Neutraface2Text-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Neutraface2Text-Bold/Neutraface2Text-Bold.otf')  format('opentype'),
	     url('../fonts/Neutraface2Text-Bold/Neutraface2Text-Bold.woff') format('woff'), url('../fonts/Neutraface2Text-Bold/Neutraface2Text-Bold.ttf')  format('truetype'), url('../fonts/Neutraface2Text-Bold/Neutraface2Text-Bold.svg#Neutraface2Text-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

.container{
	/*background: url('../images/NHI-002 Website-1-TEMPORARY-LAYOUT Home.jpg');*/
    /*background: url('../images/NHI-002 Website-2-Understanding NHI.jpg') -799px -46px;*/
    /*background: url('../images/NHI-002 Website-3-Whats Covered.jpg') -799px -46px;*/
	background-repeat: no-repeat;	
	
        font-family: 'Neutraface2Text-Book';
}
.wideconteiner {
    width: 100%;
    padding: 0;
}

.yellow{
	color: #F4CE11;
}
.menu-conteiner{
    margin-bottom: 36px;
    background: #f5f5f5;
    height: 154px;
    border: 1px solid #c2c2c2;
    position: relative;
}
.menu {    
    background: url("../img/logo.png") no-repeat;    
    text-align: right;    
    line-height: 11em;    
}
.menu span,
.footer1 span {    
    border-right: 2px solid #f3ce10;
    padding: 0 10px;
}
.menu span:last-child {
    border-right: none;
}
.footer1 span:last-child {
    border-right: none;   
}

.footer-conteiner {
    margin-top: 20px;
}
.footer1 {    
    height: 166px;
    background: #464646;
    text-align: center;
    padding-top: 30px;
    font-family: 'Neutraface2Text-Demi';
    color: white;
}
.footer1 span.email {
    color: #f3ce10;
    padding-left: 0;
}
.footer1 span.email a {
    color: #f3ce10;
}

.footer2 {    
    height: 40px;
    color: white;
    text-align: center;
    padding-top: 8px;
    background: #363636;
    border-bottom: 4px solid #f3ce10;
}
.tab_container {
	padding-left: 15px;
        padding-right: 15px;
}
.mini-tabs {
	/*width:200px;*/
	background: #f5f5f5;
	/*margin: 0px 0px 0px 5px;*/
	/*position: relative;*/
}
.row {
    margin-right: 0;
    margin-left: 0;
}
.mini-tabs .col-lg-8,
.mini-tabs .col-lg-10{
    padding-left: 0;
    padding-right: 0;
}
.tab_container .col-lg-2,
.tab_container .col-lg-3 {
    padding-left: 3px;
    padding-right: 3px;
}
.mini-tabs.active{
    background: #FDF8DB;
}
.mini-tabs.active .angle{
	display: block;
	margin: 0 auto;
	width: 0;
	height: 0;
	position: absolute;
	left: 42%;
    bottom: 0;
    border-bottom: 15px solid #fff;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
}
.big_title{
    text-transform: uppercase;
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    margin: 0 auto 21px;
    display: block;
    border-bottom: 4px solid #EBEBEB;
    width: 48%;
    padding-bottom: 8px;
}
.img_position{
	margin: 29px auto 23px;
    display: block;
    height: 53px;
}
.tab_head {
	text-align: center;
	height: 39px;
	display: flex;
	align-items: center;
	justify-content: center;
        font-weight: bold;
}
.tab_delimiter 	{
	border-top: 3px solid #f3cd10;
    width: 68%;
    margin-top: 10px;
    margin-bottom: 15px;
}
.tab_text{
    font-size: 13px;
/*    margin-bottom: 26px;*/
    line-height: 1.7;
    min-height: 130px;
}
.content_delimiter {
    width: 95%;
    margin: 35px auto 15px;
    border-top: 2px solid #ebebeb;
}
.content_body {
/*	padding: 0px 60px;*/
    padding-left: 15px;
}
.content_body > h2 {
    font-size: 27px;
    text-transform: uppercase;
    color: #707070;
    margin: 0px 0px 13px;
}
.content_body > h3 {
    font-size: 16px;
    text-transform: uppercase;
    color: #00a6d0;
    margin: 0px 0px 20px;
    font-weight: bold;
}
.content_text {
	line-height: 1.8;
}
.content_text > p {
	color: #7d7d7d;
	padding-bottom: 8px;
}
.content_text ul {
    padding: 0 0 0 25px;
    list-style: none;
}
.content_text ul > li {
    padding-bottom: 15px;
    position: relative;
}
.content_text ul > li:before {
    content: "";
    display: block;
    background: #F3CD10;
    position: absolute;
    left: -26px;
    top: 7px;
    width: 8px;
    height: 8px;
    border-radius: 100%;
}
.tip_conteiner div.col-lg-4{
    padding-right: 7px;
    padding-left: 7px;
}
.block_tip {	
	border:1px solid #c2c2c2;	
	min-height: 292px;
}
.tip_top_img {
	margin: 15px auto;
    display: block;
    height: 60px;
}
.block_tip > h3 {
	margin: 0px auto;
    font-size: 27px;
    text-align: center;
}
.tip_delimiter{
	border-top-width: 5px;
    border-top-style: solid;
    margin: 6px 25px;
}
.border-yellow {
	border-color: #f1ce12;
}
.border-blue {
	border-color:#08a5d0;
}
.border-black{
	border-color: black;
}
.yellow {
	color:#f1ce12;
}
.black {
	color:black;
}
.blue {
	color:#08a5d0;
}
.gray {
	color:#555;
}
.tip_text{
	padding: 5px 23px;
	font-size: 17px;
    line-height: 1.53;
}
.custom_list{
	clear: both;
}
.custom_list::after{
	clear: both;
	content: " ";
	display: block;
}
.custom_list p{
    margin: 0;
    padding: 8px;
    line-height: 24px;
}
.custom_list .list_el{
	clear: both;
}
.custom_list .list_el > span{
    float: left;
    padding-right: 23px;
}
.custom_list > .list_el > span{
	font-size: 45px;
    line-height: 1.15;
    float: left;
    padding-right: 15px;
}
.custom_list .sub_list{
    padding: 10px 0 0 38px;
    clear: both;
}
.custom_list .sub_list p{
    padding: 0;
    float: left;
    margin-bottom: 9px;
}
.custom_list .sub_list > span{
    float: left;
    padding-right: 20px;
}
.custom_list .sub_list .list_el{
    padding: 6px 0 12px 0;
    position: relative;    
}
.title_list{
    font-weight: bold;
}
.title_list > span{
    padding-right: 20px;
}
.list_content{
	padding: 10px 0 30px 35px;
}
.content_text  ul.list_dot_yellow > li::before{
    width: 3px;
    height: 3px;
    top: 9px;
}
.subtitle{
    color: #707070;
    font-style: italic;
    font-size: 18px;
    margin-bottom: 20px;
    display: block;
}
.page_sep{
	margin: 0 auto 21px;
    display: block;
    border-bottom: 4px solid #EBEBEB;
    width: 48%;
}

#buttonsimg {
    width: 100%;
}

a {
    font-family: 'Neutraface2Text-Demi';
}
.menu  a:link { 
    text-decoration: none;
}
.menu  a:visited {
    color: black;
    text-decoration: none;
}
.menu  a:hover {
    color: #00a6d0;
    text-decoration: none;    
}
.menu  a:active {
    color: #00a6d0;
    text-decoration: none;
}
.menu a.active {
    color: #00a6d0;
}
.footer1  a:link { 
    text-decoration: none;
}
.footer1  a:visited {
    color: white;
    text-decoration: none;
}
.footer1  a:hover {
    color: #f3ce10;
    text-decoration: none;    
}
.footer1  a:active {
    color: #f3ce10;
    text-decoration: none;
}
.footer1 a.active {
    color: #f3ce10;
}
