
@font-face {
  font-family: 'Neutraface2Display-Medium';
  src: url('Neutraface2Display-Medium.eot?#iefix') format('embedded-opentype'),  url('Neutraface2Display-Medium.otf')  format('opentype'),
	     url('Neutraface2Display-Medium.woff') format('woff'), url('Neutraface2Display-Medium.ttf')  format('truetype'), url('Neutraface2Display-Medium.svg#Neutraface2Display-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
