
@font-face {
  font-family: 'Neutraface2Display-Bold';
  src: url('Neutraface2Display-Bold.eot?#iefix') format('embedded-opentype'),  url('Neutraface2Display-Bold.otf')  format('opentype'),
	     url('Neutraface2Display-Bold.woff') format('woff'), url('Neutraface2Display-Bold.ttf')  format('truetype'), url('Neutraface2Display-Bold.svg#Neutraface2Display-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
