
@font-face {
  font-family: 'Neutraface2Text-Book';
  src: url('Neutraface2Text-Book.eot?#iefix') format('embedded-opentype'),  url('Neutraface2Text-Book.otf')  format('opentype'),
	     url('Neutraface2Text-Book.woff') format('woff'), url('Neutraface2Text-Book.ttf')  format('truetype'), url('Neutraface2Text-Book.svg#Neutraface2Text-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}
